---
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import PopularTours from '../components/PopularTours.astro';
import SearchWidget from '../components/SearchWidget.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="ANRO TRIP — Будь на высоте!">
  <Header />

  <main>
    <Hero />

    <div class="relative z-10 mt-[45vh] md:mt-[20vh] bg-white dark:bg-darkbg shadow-[0_-20px_60px_rgba(0,0,0,0.2)] pb-20 min-h-screen">

      <!-- Виджет (поднят вверх) -->
      <div class="relative z-20 -translate-y-1/2 reveal-hidden">
        <SearchWidget />
      </div>

      <!--
        ПРАВКА ОТСТУПА:
        -mt-48 (минус 12rem) — на мобильном сильно тянем вверх, чтобы закрыть дыру от высокой формы.
        md:-mt-16 — на компе форма низкая, тянем слабее.
      -->
      <div class="-mt-48 md:-mt-16">
        <PopularTours />
      </div>

      <div class="h-20"></div>
    </div>
  </main>
</Layout>
