---
// src/components/widgets/TourvisorSearch.astro
// Виджет поиска туров Tourvisor (ID: 192367)
---

<div class="tv-wrapper w-full bg-white rounded-xl min-h-112.5">
  <div class="tv-search-form tv-moduleid-192367"></div>
</div>

<script is:inline src="https://tourvisor.ru/module/init.js"></script>
